In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import pandas_profiling as pp
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold,StratifiedKFold
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor
from catboost import Pool

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
fulfilment_center = pd.read_csv('fulfilment_center_info.csv')
meal_info = pd.read_csv('meal_info.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 31.3 MB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     32573 non-null  int64
 1   week                   32573 non-null  int64
 2   center_id              32573 non-null  int64
 3   meal_id                32573 non-null  int64
 4   checkout_price         32573 non-null  float64
 5   base_price             32573 non-null  float64
 6   emailer_for_promotion  32573 non-null  int64
 7   homepage_featured      32573 non-null  int64
dtypes: float64(2), int64(6)
memory usage: 2.0 MB

In [5]:
test.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [6]:
fulfilment_center.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [7]:
meal_info.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [8]:
meal_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meal_id   51 non-null     int64
 1   category  51 non-null     object
 2   cuisine   51 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [69]:
train = pd.merge(train,fulfilment_center, on='center_id')
test = pd.merge(test,fulfilment_center, on='center_id')

train = pd.merge(train,meal_info, on='meal_id')
test = pd.merge(test,meal_info, on='meal_id')

In [70]:
train.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code_x,...,op_area_x,category_x,cuisine_x,train_or_test,city_code_y,region_code_y,center_type_y,op_area_y,category_y,cuisine_y
0,1379560,1,55,1885,136.83,152.29,0,0,5.181784,647,...,2.0,Beverages,Thai,train,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,5.780744,647,...,2.0,Beverages,Thai,train,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,4.574711,647,...,2.0,Beverages,Thai,train,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,5.099866,647,...,2.0,Beverages,Thai,train,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,5.375278,647,...,2.0,Beverages,Thai,train,647,56,TYPE_C,2.0,Beverages,Thai

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456548 entries, 0 to 456547
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
 9   city_code              456548 non-null  int64
 10  region_code            456548 non-null  int64
 11  center_type            456548 non-null  object
 12  op_area                456548 non-null  float64
 13  category               456548 non-null  object
 14  cuisine                456548 non-null  object
dtypes: float64(3), int64(9), object(3)
memory usage: 55.7+ MB

#### Feature Engineering

In [40]:
train['train_or_test'] = 'train'
test['train_or_test'] = 'test'

In [41]:
train['num_orders'] = np.log1p(train['num_orders'])

In [42]:
total_data = train.append(test).reset_index(drop=True)[train.columns]

In [43]:
total_data = total_data.sort_values(['center_id', 'meal_id', 'week']).reset_index(drop=True)

In [44]:
total_data['checkout_price'] = np.log1p(total_data['checkout_price'])
total_data['base_price'] = np.log1p(total_data['base_price'])

In [45]:
total_data['discount_on_base'] = (total_data['base_price'] - total_data['checkout_price']) / total_data['base_price']

In [46]:
total_data["discount_ratio"] = total_data["base_price"] / total_data["checkout_price"]

In [47]:
sns.distplot(total_data['discount_on_base'], bins=500)
plt.show()

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [48]:
total_data['price_last_curr_diff'] = (total_data['checkout_price'].shift(1) - total_data['checkout_price']).fillna(1)/ total_data['checkout_price'].shift(1).fillna(1)

In [49]:
for _, r in total_data.groupby(['center_id', 'meal_id'])['week'].first().reset_index().iterrows():
    total_data.loc[(total_data['center_id']==r['center_id']) & (total_data['meal_id']==r['meal_id']) & (total_data['week']==r['week']), 'price_last_curr_diff'] = total_data[(total_data['center_id']==r['center_id']) & (total_data['meal_id']==r['meal_id']) & (total_data['week']!=r['week'])]['price_last_curr_diff'].mean()
total_data['price_last_curr_diff'] = total_data['price_last_curr_diff'].fillna(0)

#### Some functions to create aggregated, rolling mean/median, and exponentially weighted features.

Code from : https://www.kaggle.com/abhilashawasthi/feature-engineering-lgb-model

In [50]:
# Features constructed from previous sales values

#Creating sales lag features
def create_sales_lag_feats(df, gpby_cols, target_col, lags):
    gpby = df.groupby(gpby_cols)
    for i in lags:
        df['_'.join([target_col, 'lag', str(i)])] = \
                gpby[target_col].shift(i).values + np.random.normal(scale=1.6, size=(len(df),))
    return df

# Creating sales exponentially weighted mean features
def create_sales_ewm_feats(df, gpby_cols, target_col, alpha=[0.9], shift=[1]):
    gpby = df.groupby(gpby_cols)
    for a in alpha:
        for s in shift:
            df['_'.join([target_col, 'lag', str(s), 'ewm', str(a)])] = \
                gpby[target_col].shift(s).ewm(alpha=a).mean().values
    return df

In [51]:
# Creating num_orders lag, rolling mean, rolling median, ohe features of the above train set
total_data = create_sales_lag_feats(total_data, gpby_cols=['center_id','meal_id'], target_col='num_orders', 
                               lags=[10,11, 12])

total_data = create_sales_ewm_feats(total_data, gpby_cols=['center_id','meal_id'], 
                               target_col='num_orders', 
                               alpha=[0.5], 
                               shift=[10,11,12,13,14,15])

In [52]:
total_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,...,price_last_curr_diff,num_orders_lag_10,num_orders_lag_11,num_orders_lag_12,num_orders_lag_10_ewm_0.5,num_orders_lag_11_ewm_0.5,num_orders_lag_12_ewm_0.5,num_orders_lag_13_ewm_0.5,num_orders_lag_14_ewm_0.5,num_orders_lag_15_ewm_0.5
0,1436842,1,10,1062,5.206147,5.206147,0,0,6.763885,590,...,0.000086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1205013,2,10,1062,5.216890,5.211451,0,0,6.663133,590,...,-0.002064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1447751,3,10,1062,5.222300,5.211451,0,0,6.747587,590,...,-0.001037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1014968,4,10,1062,5.211451,5.216890,0,0,7.092574,590,...,0.002077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003563,5,10,1062,5.217053,5.206147,0,0,6.865891,590,...,-0.001075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
### Center count features ###
gdf = total_data.groupby(["center_id", "week"])["id"].agg(['size']).reset_index()
gdf.columns = ["center_id", "week", "center_week_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "week"], how="left")

gdf = total_data.groupby(["center_id", "category"])["id"].count().reset_index()
gdf.columns = ["center_id", "category", "center_cat_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "category"], how="left")

gdf = total_data.groupby(["center_id", "category", "week"])["id"].count().reset_index()
gdf.columns = ["center_id", "category", "week", "center_cat_week_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "category", "week"], how="left")

gdf = total_data.groupby(["center_id", "cuisine"])["id"].count().reset_index()
gdf.columns = ["center_id", "cuisine", "center_cui_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "cuisine"], how="left")

In [54]:
### Meal count features ###
gdf = total_data.groupby(["meal_id"])["id"].count().reset_index()
gdf.columns = ["meal_id", "meal_count"]
total_data = pd.merge(total_data,gdf, on=["meal_id"], how="left")

gdf = total_data.groupby(["region_code", "meal_id"])["id"].count().reset_index()
gdf.columns = ["region_code", "meal_id", "region_meal_count"]
total_data= pd.merge(total_data,gdf, on=["region_code", "meal_id"], how="left")

gdf = total_data.groupby(["meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["meal_id", "week", "meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["meal_id", "week"], how="left")

gdf =total_data.groupby(["center_type", "meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["center_type", "meal_id", "week", "type_meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["center_type", "meal_id", "week"], how="left")

gdf = total_data.groupby(["region_code", "meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["region_code", "meal_id", "week", "region_meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["region_code", "meal_id", "week"], how="left")

gdf =total_data.groupby(["city_code", "meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["city_code", "meal_id", "week", "city_meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["city_code", "meal_id", "week"], how="left")

In [55]:
### Price rank ###
total_data["meal_price_rank"] = total_data.groupby("meal_id")["checkout_price"].rank()
total_data["meal_city_price_rank"] =total_data.groupby(["meal_id", "city_code"])["checkout_price"].rank()
total_data["meal_region_price_rank"] = total_data.groupby(["meal_id", "region_code"])["checkout_price"].rank()
total_data["meal_week_price_rank"] = total_data.groupby(["meal_id", "week"])["checkout_price"].rank()

total_data["center_price_rank"] = total_data.groupby("center_id")["checkout_price"].rank()
total_data["center_week_price_rank"] = total_data.groupby(["center_id", "week"])["checkout_price"].rank()
total_data["center_cat_price_rank"] = total_data.groupby(["center_id", "category"])["checkout_price"].rank()

In [56]:
### Week features ###
gdf = total_data.groupby(["meal_id"])["checkout_price"].agg(["min", "max", "mean", "std"]).reset_index()
gdf.columns = ["meal_id", "meal_price_min", "meal_price_max", "meal_price_mean", "meal_price_std"]
total_data = pd.merge(total_data,gdf, on=["meal_id"], how="left")

gdf = total_data.groupby(["meal_id"])["base_price"].agg(["min", "max", "mean", "std"]).reset_index()
gdf.columns = ["meal_id", "disc_price_min", "disc_price_max", "disc_price_mean", "disc_price_std"]
total_data = pd.merge(total_data,gdf, on=["meal_id"], how="left")

gdf = total_data.groupby(["city_code","meal_id", "week"])["checkout_price"].agg(["min", "max", "mean", "std"]).reset_index()
gdf.columns = ["city_code", "meal_id", "week", "meal_price2_min", "meal_price2_max", "meal_price2_mean", "meal_price2_std"]
total_data= pd.merge(total_data,gdf, on=["city_code", "meal_id", "week"], how="left")

gdf = total_data.groupby(["city_code", "category"])["checkout_price"].agg(["mean", "std"]).reset_index()
gdf.columns = ["city_code", "category", "meal_price3_mean", "meal_price3_std"]
total_datal = pd.merge(total_data,gdf, on=["city_code", "category"], how="left")

In [57]:
total_data['center_id'] = total_data['center_id'].astype(np.object)
total_data['meal_id'] = total_data['meal_id'].astype(np.object)
total_data['region_code'] = total_data['region_code'].astype(np.object)
total_datal['city_code'] = total_data['city_code'].astype(np.object)

In [58]:
train_data = total_data.loc[total_data['train_or_test']=='train', :]
test_data = total_data.loc[total_data['train_or_test']=='test', :]

In [59]:
center_meal_mean = train_data.groupby(['center_id','meal_id'])['num_orders'].mean()
center_meal_mean = center_meal_mean.reset_index()
center_meal_mean = center_meal_mean.rename(columns={'num_orders':'avg_orders'})
train_data = pd.merge(train_data,center_meal_mean, how='left', left_on=['center_id','meal_id'], right_on = ['center_id','meal_id'])
test_data = pd.merge(test_data,center_meal_mean, how='left', left_on=['center_id','meal_id'], right_on = ['center_id','meal_id'])
center_mean = train_data.groupby('center_id')['num_orders'].mean()
center_mean = center_mean.reset_index()
center_mean = center_mean.rename(columns={'num_orders':'avg_center'})
train_data = pd.merge(train_data,center_mean, how='left', left_on=['center_id'], right_on = ['center_id'])
test_data = pd.merge(test_data,center_mean, how='left', left_on=['center_id'], right_on = ['center_id'])
meal_mean = train_data.groupby('meal_id')['num_orders'].mean()
meal_mean = meal_mean.reset_index()
meal_mean = meal_mean.rename(columns={'num_orders':'avg_meal'})
train_data = pd.merge(train_data, meal_mean,how='left',left_on=['meal_id'], right_on = ['meal_id'])
test_data = pd.merge(test_data, meal_mean,how='left',left_on=['meal_id'], right_on = ['meal_id'])

In [60]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456546 entries, 0 to 456545
Data columns (total 60 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         456546 non-null  int64
 1   week                       456546 non-null  int64
 2   center_id                  456546 non-null  object
 3   meal_id                    456546 non-null  object
 4   checkout_price             456546 non-null  float64
 5   base_price                 456546 non-null  float64
 6   emailer_for_promotion      456546 non-null  int64
 7   homepage_featured          456546 non-null  int64
 8   num_orders                 456546 non-null  float64
 9   city_code                  456546 non-null  int64
 10  region_code                456546 non-null  object
 11  center_type                456546 non-null  object
 12  op_area                    456546 non-null  float64
 13  category                   456546 non-null  object
 14  cuisine                    456546 non-null  object
 15  train_or_test              456546 non-null  object
 16  discount_on_base           456546 non-null  float64
 17  discount_ratio             456546 non-null  float64
 18  price_last_curr_diff       456546 non-null  float64
 19  num_orders_lag_10          420703 non-null  float64
 20  num_orders_lag_11          417134 non-null  float64
 21  num_orders_lag_12          413566 non-null  float64
 22  num_orders_lag_10_ewm_0.5  456536 non-null  float64
 23  num_orders_lag_11_ewm_0.5  456535 non-null  float64
 24  num_orders_lag_12_ewm_0.5  456534 non-null  float64
 25  num_orders_lag_13_ewm_0.5  456533 non-null  float64
 26  num_orders_lag_14_ewm_0.5  456532 non-null  float64
 27  num_orders_lag_15_ewm_0.5  456531 non-null  float64
 28  center_week_count          456546 non-null  int64
 29  center_cat_count           456546 non-null  int64
 30  center_cat_week_count      456546 non-null  int64
 31  center_cui_count           456546 non-null  int64
 32  meal_count                 456546 non-null  int64
 33  region_meal_count          456546 non-null  int64
 34  meal_week_count            456546 non-null  int64
 35  type_meal_week_count       456546 non-null  int64
 36  region_meal_week_count     456546 non-null  int64
 37  city_meal_week_count       456546 non-null  int64
 38  meal_price_rank            456546 non-null  float64
 39  meal_city_price_rank       456546 non-null  float64
 40  meal_region_price_rank     456546 non-null  float64
 41  meal_week_price_rank       456546 non-null  float64
 42  center_price_rank          456546 non-null  float64
 43  center_week_price_rank     456546 non-null  float64
 44  center_cat_price_rank      456546 non-null  float64
 45  meal_price_min             456546 non-null  float64
 46  meal_price_max             456546 non-null  float64
 47  meal_price_mean            456546 non-null  float64
 48  meal_price_std             456546 non-null  float64
 49  disc_price_min             456546 non-null  float64
 50  disc_price_max             456546 non-null  float64
 51  disc_price_mean            456546 non-null  float64
 52  disc_price_std             456546 non-null  float64
 53  meal_price2_min            456546 non-null  float64
 54  meal_price2_max            456546 non-null  float64
 55  meal_price2_mean           456546 non-null  float64
 56  meal_price2_std            216267 non-null  float64
 57  avg_orders                 456546 non-null  float64
 58  avg_center                 456546 non-null  float64
 59  avg_meal                   456546 non-null  float64
dtypes: float64(38), int64(15), object(7)
memory usage: 212.5+ MB

In [61]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32573 entries, 0 to 32572
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         32573 non-null  int64
 1   week                       32573 non-null  int64
 2   center_id                  32573 non-null  object
 3   meal_id                    32573 non-null  object
 4   checkout_price             32573 non-null  float64
 5   base_price                 32573 non-null  float64
 6   emailer_for_promotion      32573 non-null  int64
 7   homepage_featured          32573 non-null  int64
 8   num_orders                 0 non-null      float64
 9   city_code                  32573 non-null  int64
 10  region_code                32573 non-null  object
 11  center_type                32573 non-null  object
 12  op_area                    32573 non-null  float64
 13  category                   32573 non-null  object
 14  cuisine                    32573 non-null  object
 15  train_or_test              32573 non-null  object
 16  discount_on_base           32573 non-null  float64
 17  discount_ratio             32573 non-null  float64
 18  price_last_curr_diff       32573 non-null  float64
 19  num_orders_lag_10          32539 non-null  float64
 20  num_orders_lag_11          32536 non-null  float64
 21  num_orders_lag_12          32533 non-null  float64
 22  num_orders_lag_10_ewm_0.5  32573 non-null  float64
 23  num_orders_lag_11_ewm_0.5  32573 non-null  float64
 24  num_orders_lag_12_ewm_0.5  32573 non-null  float64
 25  num_orders_lag_13_ewm_0.5  32573 non-null  float64
 26  num_orders_lag_14_ewm_0.5  32573 non-null  float64
 27  num_orders_lag_15_ewm_0.5  32573 non-null  float64
 28  center_week_count          32573 non-null  int64
 29  center_cat_count           32573 non-null  int64
 30  center_cat_week_count      32573 non-null  int64
 31  center_cui_count           32573 non-null  int64
 32  meal_count                 32573 non-null  int64
 33  region_meal_count          32573 non-null  int64
 34  meal_week_count            32573 non-null  int64
 35  type_meal_week_count       32573 non-null  int64
 36  region_meal_week_count     32573 non-null  int64
 37  city_meal_week_count       32573 non-null  int64
 38  meal_price_rank            32573 non-null  float64
 39  meal_city_price_rank       32573 non-null  float64
 40  meal_region_price_rank     32573 non-null  float64
 41  meal_week_price_rank       32573 non-null  float64
 42  center_price_rank          32573 non-null  float64
 43  center_week_price_rank     32573 non-null  float64
 44  center_cat_price_rank      32573 non-null  float64
 45  meal_price_min             32573 non-null  float64
 46  meal_price_max             32573 non-null  float64
 47  meal_price_mean            32573 non-null  float64
 48  meal_price_std             32573 non-null  float64
 49  disc_price_min             32573 non-null  float64
 50  disc_price_max             32573 non-null  float64
 51  disc_price_mean            32573 non-null  float64
 52  disc_price_std             32573 non-null  float64
 53  meal_price2_min            32573 non-null  float64
 54  meal_price2_max            32573 non-null  float64
 55  meal_price2_mean           32573 non-null  float64
 56  meal_price2_std            15528 non-null  float64
 57  avg_orders                 32560 non-null  float64
 58  avg_center                 32573 non-null  float64
 59  avg_meal                   32573 non-null  float64
dtypes: float64(38), int64(15), object(7)
memory usage: 15.2+ MB

###  Model

In [62]:
avoid_column = ['id', 'num_orders', 'train_or_test']

In [63]:
features = [col for col in test_data.columns if col not in avoid_column]

In [64]:
features

['week',
 'center_id',
 'meal_id',
 'checkout_price',
 'base_price',
 'emailer_for_promotion',
 'homepage_featured',
 'city_code',
 'region_code',
 'center_type',
 'op_area',
 'category',
 'cuisine',
 'discount_on_base',
 'discount_ratio',
 'price_last_curr_diff',
 'num_orders_lag_10',
 'num_orders_lag_11',
 'num_orders_lag_12',
 'num_orders_lag_10_ewm_0.5',
 'num_orders_lag_11_ewm_0.5',
 'num_orders_lag_12_ewm_0.5',
 'num_orders_lag_13_ewm_0.5',
 'num_orders_lag_14_ewm_0.5',
 'num_orders_lag_15_ewm_0.5',
 'center_week_count',
 'center_cat_count',
 'center_cat_week_count',
 'center_cui_count',
 'meal_count',
 'region_meal_count',
 'meal_week_count',
 'type_meal_week_count',
 'region_meal_week_count',
 'city_meal_week_count',
 'meal_price_rank',
 'meal_city_price_rank',
 'meal_region_price_rank',
 'meal_week_price_rank',
 'center_price_rank',
 'center_week_price_rank',
 'center_cat_price_rank',
 'meal_price_min',
 'meal_price_max',
 'meal_price_mean',
 'meal_price_std',
 'disc_price_min',
 'disc_price_max',
 'disc_price_mean',
 'disc_price_std',
 'meal_price2_min',
 'meal_price2_max',
 'meal_price2_mean',
 'meal_price2_std',
 'avg_orders',
 'avg_center',
 'avg_meal']

In [65]:
categorical_features_indices = np.where(train_data[features].dtypes =='object')[0]
categorical_features_indices

array([ 1,  2,  8,  9, 11, 12], dtype=int64)

In [66]:
model = CatBoostRegressor(
    iterations=2000, 
    learning_rate=0.02, 
    max_depth=8, 
    l2_leaf_reg=10, 
    loss_function='RMSE',
    random_seed=2019,
    od_type='Iter',
    od_wait=25,
    verbose=100,
    use_best_model=True
    )

In [74]:
errcb=[]
y_pred_test=[]

fold = KFold(n_splits=5,shuffle=True,random_state=2019)

for train_index, test_index in fold.split(train_data[features],train_data['num_orders']):
    X_train, X_valid =train_data[features].iloc[train_index], train_data[features].iloc[test_index]
    y_train, y_valid = train_data['num_orders'][train_index],train_data['num_orders'][test_index]
    model.fit(X_train,y_train,
              cat_features = categorical_features_indices,
              eval_set=(X_valid,y_valid),
              early_stopping_rounds=300,
              verbose=100)
    preds = model.predict(X_valid)
    print("err: ",np.sqrt(mean_squared_error(y_valid,preds)))
    errcb.append(np.sqrt(mean_squared_error(y_valid,preds)))
    p = model.predict(test_data[features])
    y_pred_test.append(p)

0:	learn: 4.9368219	test: 4.9318370	best: 4.9318370 (0)	total: 937ms	remaining: 31m 12s
100:	learn: 0.8488828	test: 0.8486273	best: 0.8486273 (100)	total: 1m 9s	remaining: 21m 39s
200:	learn: 0.5105596	test: 0.5128419	best: 0.5128419 (200)	total: 2m 23s	remaining: 21m 26s
300:	learn: 0.4905912	test: 0.4934765	best: 0.4934765 (300)	total: 3m 39s	remaining: 20m 38s
400:	learn: 0.4832615	test: 0.4865562	best: 0.4865562 (400)	total: 4m 53s	remaining: 19m 29s
500:	learn: 0.4781260	test: 0.4817708	best: 0.4817708 (500)	total: 6m 11s	remaining: 18m 32s
600:	learn: 0.4741205	test: 0.4781433	best: 0.4781433 (600)	total: 7m 24s	remaining: 17m 15s
700:	learn: 0.4707233	test: 0.4750959	best: 0.4750959 (700)	total: 8m 37s	remaining: 15m 59s
800:	learn: 0.4679035	test: 0.4726121	best: 0.4726121 (800)	total: 9m 51s	remaining: 14m 46s
900:	learn: 0.4652919	test: 0.4703882	best: 0.4703882 (900)	total: 11m 6s	remaining: 13m 32s
1000:	learn: 0.4630361	test: 0.4684845	best: 0.4684845 (1000)	total: 12m 24s	remaining: 12m 23s
1100:	learn: 0.4610123	test: 0.4668399	best: 0.4668399 (1100)	total: 13m 42s	remaining: 11m 11s
1200:	learn: 0.4591865	test: 0.4653913	best: 0.4653913 (1200)	total: 15m	remaining: 9m 59s
1300:	learn: 0.4575849	test: 0.4641512	best: 0.4641512 (1300)	total: 16m 22s	remaining: 8m 47s
1400:	learn: 0.4559503	test: 0.4629247	best: 0.4629247 (1400)	total: 17m 50s	remaining: 7m 37s
1500:	learn: 0.4544578	test: 0.4617969	best: 0.4617969 (1500)	total: 19m 8s	remaining: 6m 21s
1600:	learn: 0.4530737	test: 0.4607721	best: 0.4607721 (1600)	total: 20m 27s	remaining: 5m 5s
1700:	learn: 0.4518210	test: 0.4598972	best: 0.4598972 (1700)	total: 21m 41s	remaining: 3m 48s
1800:	learn: 0.4506434	test: 0.4590798	best: 0.4590798 (1800)	total: 23m 1s	remaining: 2m 32s
1900:	learn: 0.4495737	test: 0.4583770	best: 0.4583770 (1900)	total: 24m 28s	remaining: 1m 16s
1999:	learn: 0.4485139	test: 0.4576793	best: 0.4576793 (1999)	total: 25m 51s	remaining: 0us

bestTest = 0.4576793327
bestIteration = 1999

err:  0.4576793373289565
0:	learn: 4.9364148	test: 4.9329597	best: 4.9329597 (0)	total: 989ms	remaining: 32m 57s
100:	learn: 0.8493316	test: 0.8492629	best: 0.8492629 (100)	total: 1m 19s	remaining: 24m 50s
200:	learn: 0.5113892	test: 0.5105340	best: 0.5105340 (200)	total: 2m 46s	remaining: 24m 51s
300:	learn: 0.4914495	test: 0.4907514	best: 0.4907514 (300)	total: 4m 4s	remaining: 23m 2s
400:	learn: 0.4842503	test: 0.4838698	best: 0.4838698 (400)	total: 5m 23s	remaining: 21m 29s
500:	learn: 0.4792008	test: 0.4791770	best: 0.4791770 (500)	total: 6m 36s	remaining: 19m 46s
600:	learn: 0.4752386	test: 0.4755762	best: 0.4755762 (600)	total: 7m 50s	remaining: 18m 15s
700:	learn: 0.4717871	test: 0.4724278	best: 0.4724278 (700)	total: 9m 13s	remaining: 17m 5s
800:	learn: 0.4688869	test: 0.4698988	best: 0.4698988 (800)	total: 10m 34s	remaining: 15m 49s
900:	learn: 0.4663943	test: 0.4677712	best: 0.4677712 (900)	total: 11m 51s	remaining: 14m 27s
1000:	learn: 0.4641240	test: 0.4659011	best: 0.4659011 (1000)	total: 13m 6s	remaining: 13m 5s
1100:	learn: 0.4620764	test: 0.4642153	best: 0.4642153 (1100)	total: 14m 24s	remaining: 11m 45s
1200:	learn: 0.4602011	test: 0.4627101	best: 0.4627101 (1200)	total: 15m 39s	remaining: 10m 25s
1300:	learn: 0.4584306	test: 0.4613053	best: 0.4613053 (1300)	total: 17m 4s	remaining: 9m 10s
1400:	learn: 0.4569584	test: 0.4602375	best: 0.4602375 (1400)	total: 18m 19s	remaining: 7m 50s
1500:	learn: 0.4555979	test: 0.4592630	best: 0.4592630 (1500)	total: 19m 34s	remaining: 6m 30s
1600:	learn: 0.4541290	test: 0.4582153	best: 0.4582153 (1600)	total: 20m 53s	remaining: 5m 12s
1700:	learn: 0.4528975	test: 0.4573823	best: 0.4573823 (1700)	total: 22m 17s	remaining: 3m 55s
1800:	learn: 0.4516409	test: 0.4565156	best: 0.4565156 (1800)	total: 23m 40s	remaining: 2m 36s
1900:	learn: 0.4505870	test: 0.4558180	best: 0.4558180 (1900)	total: 24m 59s	remaining: 1m 18s
1999:	learn: 0.4495121	test: 0.4551075	best: 0.4551075 (1999)	total: 26m 16s	remaining: 0us

bestTest = 0.455107537
bestIteration = 1999

err:  0.455107542065128
0:	learn: 4.9360026	test: 4.9344814	best: 4.9344814 (0)	total: 1.08s	remaining: 35m 57s
100:	learn: 0.8489013	test: 0.8495326	best: 0.8495326 (100)	total: 1m 36s	remaining: 30m 17s
200:	learn: 0.5106490	test: 0.5123364	best: 0.5123364 (200)	total: 3m 2s	remaining: 27m 13s
300:	learn: 0.4911686	test: 0.4931986	best: 0.4931986 (300)	total: 4m 21s	remaining: 24m 36s
400:	learn: 0.4838979	test: 0.4863057	best: 0.4863057 (400)	total: 5m 40s	remaining: 22m 36s
500:	learn: 0.4788900	test: 0.4816971	best: 0.4816971 (500)	total: 7m 3s	remaining: 21m 8s
600:	learn: 0.4750631	test: 0.4782191	best: 0.4782191 (600)	total: 8m 23s	remaining: 19m 31s
700:	learn: 0.4712911	test: 0.4748248	best: 0.4748248 (700)	total: 9m 49s	remaining: 18m 12s
800:	learn: 0.4682621	test: 0.4721648	best: 0.4721648 (800)	total: 11m 15s	remaining: 16m 51s
900:	learn: 0.4657511	test: 0.4699860	best: 0.4699860 (900)	total: 12m 39s	remaining: 15m 26s
1000:	learn: 0.4634957	test: 0.4681142	best: 0.4681142 (1000)	total: 13m 57s	remaining: 13m 55s
1100:	learn: 0.4614895	test: 0.4664484	best: 0.4664484 (1100)	total: 15m 17s	remaining: 12m 29s
1200:	learn: 0.4596941	test: 0.4650047	best: 0.4650047 (1200)	total: 16m 40s	remaining: 11m 5s
1300:	learn: 0.4579925	test: 0.4636700	best: 0.4636700 (1300)	total: 18m 2s	remaining: 9m 41s
1400:	learn: 0.4564863	test: 0.4625513	best: 0.4625513 (1400)	total: 19m 23s	remaining: 8m 17s
1500:	learn: 0.4550471	test: 0.4615006	best: 0.4615006 (1500)	total: 20m 42s	remaining: 6m 53s
1600:	learn: 0.4537459	test: 0.4605434	best: 0.4605434 (1600)	total: 22m 5s	remaining: 5m 30s
1700:	learn: 0.4524730	test: 0.4596164	best: 0.4596164 (1700)	total: 23m 24s	remaining: 4m 6s
1800:	learn: 0.4512490	test: 0.4587442	best: 0.4587442 (1800)	total: 24m 40s	remaining: 2m 43s
1900:	learn: 0.4502160	test: 0.4580780	best: 0.4580780 (1900)	total: 25m 57s	remaining: 1m 21s
1999:	learn: 0.4491516	test: 0.4574015	best: 0.4574015 (1999)	total: 27m 16s	remaining: 0us

bestTest = 0.4574014798
bestIteration = 1999

err:  0.45740148459227153
0:	learn: 4.9345801	test: 4.9401703	best: 4.9401703 (0)	total: 940ms	remaining: 31m 20s
100:	learn: 0.8490644	test: 0.8493116	best: 0.8493116 (100)	total: 1m 17s	remaining: 24m 9s
200:	learn: 0.5115628	test: 0.5128156	best: 0.5128156 (200)	total: 2m 49s	remaining: 25m 14s
300:	learn: 0.4917563	test: 0.4933665	best: 0.4933665 (300)	total: 4m 3s	remaining: 22m 53s
400:	learn: 0.4841972	test: 0.4859955	best: 0.4859955 (400)	total: 5m 22s	remaining: 21m 24s
500:	learn: 0.4788965	test: 0.4809527	best: 0.4809527 (500)	total: 6m 37s	remaining: 19m 48s
600:	learn: 0.4749339	test: 0.4772038	best: 0.4772038 (600)	total: 7m 51s	remaining: 18m 17s
700:	learn: 0.4714903	test: 0.4740032	best: 0.4740032 (700)	total: 9m 6s	remaining: 16m 52s
800:	learn: 0.4686651	test: 0.4714630	best: 0.4714630 (800)	total: 10m 22s	remaining: 15m 31s
900:	learn: 0.4660142	test: 0.4690969	best: 0.4690969 (900)	total: 11m 39s	remaining: 14m 12s
1000:	learn: 0.4636733	test: 0.4670668	best: 0.4670668 (1000)	total: 13m 5s	remaining: 13m 3s
1100:	learn: 0.4617581	test: 0.4654509	best: 0.4654509 (1100)	total: 14m 31s	remaining: 11m 51s
1200:	learn: 0.4598216	test: 0.4638225	best: 0.4638225 (1200)	total: 15m 56s	remaining: 10m 36s
1300:	learn: 0.4581211	test: 0.4624901	best: 0.4624901 (1300)	total: 17m 17s	remaining: 9m 17s
1400:	learn: 0.4566537	test: 0.4613496	best: 0.4613496 (1400)	total: 18m 44s	remaining: 8m
1500:	learn: 0.4552462	test: 0.4602430	best: 0.4602430 (1500)	total: 20m 16s	remaining: 6m 44s
1600:	learn: 0.4539435	test: 0.4593320	best: 0.4593320 (1600)	total: 21m 39s	remaining: 5m 23s
1700:	learn: 0.4526958	test: 0.4584548	best: 0.4584548 (1700)	total: 23m 13s	remaining: 4m 4s
1800:	learn: 0.4515237	test: 0.4576486	best: 0.4576486 (1800)	total: 24m 39s	remaining: 2m 43s
1900:	learn: 0.4502501	test: 0.4567509	best: 0.4567509 (1900)	total: 26m 1s	remaining: 1m 21s
1999:	learn: 0.4491815	test: 0.4560321	best: 0.4560321 (1999)	total: 27m 23s	remaining: 0us

bestTest = 0.4560321136
bestIteration = 1999

err:  0.4560321185164479
0:	learn: 4.9348325	test: 4.9392165	best: 4.9392165 (0)	total: 959ms	remaining: 31m 57s

KeyboardInterrupt:

In [73]:
model.fit(X=train_data[features], y=train_data['num_orders'], cat_features=categorical_features_indices, verbose=100)

CatboostError: To employ param {'use_best_model': True} provide non-empty 'eval_set'.

In [ ]:
pred = model.predict(test_data[features])

In [ ]:
pred = (np.exp(pred) - 1)

In [ ]:
submission = pd.DataFrame({'id':test['id'],'num_orders':pred})
submission = submission[['id','num_orders']]
submission.head()

In [ ]:
submission.to_csv('catboost_1.csv', index=False)

In [ ]:
feature_score = pd.DataFrame(list(zip(train_data[features].dtypes.index, model.get_feature_importance(Pool(train_data[features], label=train_data['num_orders'], cat_features=categorical_features_indices)))),
                columns=['Feature','Score'])

feature_score = feature_score.sort_values(by='Score', ascending=False, inplace=False, kind='quicksort', na_position='last')

In [ ]:
plt.rcParams["figure.figsize"] = (24,7)
ax = feature_score.plot('Feature', 'Score', kind='bar', color='c')
ax.set_title("Catboost Feature Importance Ranking", fontsize = 14)
ax.set_xlabel('')

rects = ax.patches

labels = feature_score['Score'].round(2)

for rect, label in zip(rects, labels):
    height = rect.get_height()
    ax.text(rect.get_x() + rect.get_width()/2, height + 0.35, label, ha='center', va='bottom')

plt.show()